
<h1>REmap</h1>
<h2>The first interactive map of Reggio Emilia</h2>
<div class="container">
    <div class="buttons">
    <button type="button" id="btn1" class="btn btn-outline-primary"  onmouseover="mouseon(0)"onmouseout="mouseout(0)"onclick="myfunction()" >Center</button>
    <button type="button" class="btn btn-outline-danger" id="btn2"onmouseover="mouseon(1)"onmouseout="mouseout(1)" >Industries</button>
    <button type="button" class="btn btn-outline-success" id="btn3" onmouseover="mouseon(2)"onmouseout="mouseout(2)">Country</button>
    <button type="button" class="btn btn-outline-warning" id="btn4"onmouseover="mouseon(3)"onmouseout="mouseout(3)">Residential</button>
    <button type="button" class="btn btn-outline-info" id="btn5"onmouseover="mouseon(4)"onmouseout="mouseout(4)">Train Station</button>
    <button type="button" class="btn btn-outline-secondary"id="btn6"onmouseover="mouseon(5)"onmouseout="mouseout(5)">Motorway</button>
    <button type="button" class="btn btn-outline-light"id="btn7"onmouseover="mouseon(6)"onmouseout="mouseout(6)">Stadium</button>
</div>
    <div class="content"></div>
</div>
  <div id="map"></div>


<!--bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
